{{- $name := coalesce .Values.service.name .Values.serviceProperties.name -}}
{{- $namespace := coalesce .Values.service.namespace .Values.serviceProperties.namespace -}}
{{- $enabled := .Values.service.enabled -}}

{{ if $enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}
  namespace: {{ $namespace }}
spec:
  selector:
  {{- if .Values.service.selector }}
{{ toYaml .Values.service.selector | nindent 4 }}
  {{- else }}
    app: {{ coalesce .Values.deployment.name .Values.serviceProperties.name }}
  {{- end }}
  ports:
    {{ range .Values.service.ports }}
    - port: {{ .port }}
      name: {{ .name }}
      targetPort: {{ .targetPort }}
      protocol: {{ .protocol }}
    {{- end }}
  type: {{ .Values.service.type }}
{{ end }}